<!doctype html>
<html lang="en" ng-app="postEncrypt">

<head>
  <title>Main</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <script src="/js/angular.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="js/aes.js"></script>
  <script src="js/pbkdf2.js"></script>
  <script src="js/crypto-js.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <style>
    body {
      padding-top: 60px;
    }
  </style>

</head>

<body>
  <div ng-controller="MainController">
    <form name="messageForm">
      <div>
        <input type="search" placeholder="enter phase to generate key" ng-model="secret" ng-change="encrypt(input, secret)">

      </div>
      <div>
        <br/> Your message:<br/>
        <input type="search" required placeholder="Enter your message" ng-model="input" ng-change="encrypt(input, secret)"/>
        <input type="submit" value="Decrypt" ng-click="decrypt(encrypted, secret)" />
      </div>

    </form>


    <div ng-show="input">
      Your message original: {{message}} <br/> Your encrypted message: {{encrypted}}<br/>
      Your decrypted message: {{decrypted}}
    </div>
    
    <div>
      <input type="search" required placeholder="Encryption pharse" ng-model="esecret" ng-change="decrypt(encrypted, esecret)"/>
    </div>

  </div>

</body>

</html>
