<!doctype html>
<html lang="en" ng-app="postEncrypt">

<head>
  <title>Main</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <script src="/js/angular.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="js/aes.js"></script>
  <script src="js/pbkdf2.js"></script>
  <script src="js/crypto-js.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <style>
    body {
      padding-top: 60px;
    }
  </style>

</head>

<body>
<div ng-controller="MainController">
  <p>
    <b>Click</b> to change the <span id="tag">html</span>
  </p>
  <p>
    to a <span id="text">text</span> node {{message}}.
  </p>
  <p>
    This <button name="nada">button</button> does nothing.
  </p>
  Your message decrypted: {{message}} <br/>
  Your salt: {{salt}}<br/> 
  Your key is: {{key}};<br/> 
  Your encrypted message: {{encrypted}}<br/> 
  
  
  
  <form name="messageForm">
    Your message:
    <input type="search" placeholder="Enter your message" ng-model="input" />
    <input type="submit" value="Encrypt" ng-click="encrypt(input)"/>
  </form>
</div>

</body>

</html>
