<html>
<head>
    <title>SB - main</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/font-awesome/web-fonts-with-css/css/fontawesome-all.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/lib/jquery/dist/jquery.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">


    <div class="jumbotron text-center">
        <h1><i class="fas fa-lock"></i> Safe Boards </h1>
        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-default"><i class="fas fa-user"></i> Local Login</a>
        <a href="/signup" class="btn btn-default"><i class="fas fa-user"></i> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a href="/auth/google" class="btn btn-danger"><i class="fab fa-google-plus-g "></i> Google+</a>
    </div>
</div>
</body>
</html>
