<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page not found</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/Highlight-Clean.css">
</head>

<body>
    <div class="highlight-clean">
        <div class="container" style="padding:150px;">
            <div class="intro">
                <h2 class="text-center" style="font-size:63px;">Error 404</h2>
                <p class="text-center" style="font-size:26px;">Woops. looks like this page doesn't exist. </p>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
</body>

</html>