<!DOCTYPE html>
<html ng-app="list">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category</title>
    <% include ./index_partials/head %>
</head>

<body ng-controller="mainController">
    <% include ./index_partials/navbar %>
        <ol class="breadcrumb">
            <li ng-repeat="cat in parents | orderBy:'-'"><a href="/list?id={{cat._id}}"><span ng-bind="cat.name"></span></a></li>
        </ol>

        <div class="contact-clean smp row">
            <div class="col-md-2" style="padding:36px;">
                <div>
                    <a href="/newpost?id={{id}}" class="btn btn-success">
                            Create new post
                        </a>
                </div>
                <hr/> Subcategories:
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="catt in parents[0].categoriesId" style="padding-bottom: 30px;">
                        <a href="/list?id={{catt._id}}" class="col-md-11" ng-bind="catt.name"></a>
                    </li>
                </ul>
            </div>

            <!--===========MAIN=============-->

            <div class="col-md-8" style="margin:0px;padding:30px;">

                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Filter subjects" ng-model="searchSubject">
                        </div>
                    </div>
                </form>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                <a href="" ng-click="sortType = 'header.subject'; sortReverse = !sortReverse">
                                    Subject
                                    <span ng-show="sortType == 'header.subject' && !sortReverse" class="fa fa-caret-up"></span>
                                    <span ng-show="sortType == 'header.subject' && sortReverse" class="fa fa-caret-down"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="sortType = 'createdAt'; sortReverse = !sortReverse">
                                    Added
                                    <span ng-show="sortType == 'createdAt' && !sortReverse" class="fa fa-caret-up"></span>
                                    <span ng-show="sortType == 'createdAt' && sortReverse" class="fa fa-caret-down"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="sortType = 'replies.length'; sortReverse = !sortReverse">
                                    Comments
                                    <span ng-show="sortType == 'replies.length' && !sortReverse" class="fa fa-caret-up"></span>
                                    <span ng-show="sortType == 'replies.length' && sortReverse" class="fa fa-caret-down"></span>
                                </a>
                            </th>
                            <th>Attributes</th>
                            <th>
                                <a href="" ng-click="sortType = 'header.votes.num'; sortReverse = !sortReverse">
                                    Hot / Not
                                    <span ng-show="sortType == 'header.votes.num' && !sortReverse" class="fa fa-caret-up"></span>
                                    <span ng-show="sortType == 'header.votes.num' && sortReverse" class="fa fa-caret-down"></span>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="post in posts | orderBy:sortType:sortReverse  | filter:searchSubject">
                            <td>
                                <a href="/post?id={{post._id}}" class="col-md-11" ng-bind="post.header.subject"></a>
                            </td>
                            <td>
                                {{post.createdAtWords}}
                            </td>
                            <td>
                                {{post.replies.length}}
                            </td>
                            <td>
                                <span ng-if="post.settings.privacy=='pub'" class="badge progress-bar-success" data-toggle="tooltip" title="Public">Pub</span></h6>
                                <span ng-if="post.settings.privacy=='cgp'" class="badge progress-bar-danger" data-toggle="tooltip" title="Closed Group">CG</span></h6>
                                <span ng-if="post.settings.privacy=='cgh'" class="badge progress-bar-dark" data-toggle="tooltip" title="Closed Group - Private">P</span></h6>
                                <span ng-if="post.settings.author==user" class="badge progress-bar-info" data-toggle="tooltip" title="You are an author">A</span></h6>
                                <span ng-if="post.settings.encryption.isEnabled" class="badge progress-bar-warning" data-toggle="tooltip" title="Encrypted">E</span></h6>
                            </td>
                            <td>
                                {{post.header.votes.num}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-md-2"></div>
        </div>
        <% include ./index_partials/footer %>
            <script src="/lib/ng-list.js"></script>
</body>

</html>
