<!DOCTYPE html>
<html ng-app="list">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category</title>
    <% include ./index_partials/head %>
</head>

<body ng-controller="mainController">
    <% include ./index_partials/navbar %>
        <div class="contact-clean smp row">
            <div class="col-md-2" style="padding:36px;">
                <div>
                    <a href="/newpost?id={{id}}" class="btn btn-success">
                            Create new post
                        </a>
                </div>
            </div>

            <!--===========MAIN=============-->

            <div class="col-md-8" style="margin:0px;padding:30px;">

                <form>
                    <div growl limit-messages="1" inline="true" reference="1"></div>
                </form>
                <div growl limit-messages="1"></div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Notification
                            </th>
                            <th>
                                <a href="" ng-click="sortType = 'createdAt'; sortReverse = !sortReverse">
                                    Added
                                    <span ng-show="sortType == 'createdAt' && !sortReverse" class="fa fa-caret-up"></span>
                                    <span ng-show="sortType == 'createdAt' && sortReverse" class="fa fa-caret-down"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="sortType = 'type'; sortReverse = !sortReverse">
                                    Type
                                    <span ng-show="sortType == 'replies.length' && !sortReverse" class="fa fa-caret-up"></span>
                                    <span ng-show="sortType == 'replies.length' && sortReverse" class="fa fa-caret-down"></span>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        
                        
                        <tr ng-repeat-start="notification in notifications | orderBy:sortType:sortReverse  | filter:searchSubject">
                            
                            <!--################ NOTIFICATIONS ###############-->
                            
                            <td>
                                <span ng-if="notification.type=='newRequest'">
                                    <a href="" ng-click="notificationClick(notification.id)">
                                        <span ng-if="!notification.hasRead" class="badge progress-bar-danger">NEW</span>
                                        User {{notification.creator.displayname}} requested access to your post.
                                    </a>
                                </span>
                                <span ng-if="notification.type=='requestDen'">
                                    <a href="" ng-click="notificationClick(notification.id)">
                                        <span ng-if="!notification.hasRead" class="badge progress-bar-danger">NEW</span>
                                        Your access to post "{{notification.post.header.subject}}" has been revoked.
                                    </a>
                                </span>
                                <span ng-if="notification.type=='requestAcc'">
                                    <a href="" ng-click="notificationClick(notification.id)">
                                        <span ng-if="!notification.hasRead" class="badge progress-bar-danger">NEW</span>
                                        Your access to post "{{notification.post.header.subject}}" has been accepted.
                                    </a>
                                </span>
                            </td>
                            
                            <!--################ ADDED ###############-->
                            
                            <td>
                                {{notification.createdAtWords}}
                            </td>
                            
                            <!--################ TYPE ###############-->
                            
                            <td>
                                <span ng-if="notification.type=='newRequest'">Post access request</span>
                                <span ng-if="notification.type=='requestDen'">Access revoked</span>
                                <span ng-if="notification.type=='requestAcc'">Access granted</span>
                            </td>
                        </tr>
                        
                        <!--################ DETAILS ###############-->
                        
                        <tr ng-repeat-end>
                            <td colspan="3" ng-if="notification.type=='newRequest'" ng-show="displaying == notification._id">
                                <div class="container">
                                    <h4>
                                        <div>
                                            <p>
                                                New request from user <i>{{notification.creator.displayname}}</i> asking to allow an access to the post "<a href="/post?id={{notification.post._id}}" ng-bind="notification.post.header.subject"></a>".
                                            </p>
                                            </br>
                                            <p>
                                                Message:
                                            </p>
                                        </div>
                                        <div class="container">
                                            <p class="mb-0 angular-with-newlines" id="posttext">
                                                <i>"{{notification.message}}"</i>
                                            </p>
                                        </div>
                                    </h4>
                                    <div>
                                        <button class="btn btn-success" ng-click="accessReqAllow(notification._id)">Allow</button>
                                        <button class="btn btn-danger" ng-click="accessReqDeny(notification._id)">Deny</button>
                                    </div>
                                    </h4>
                                </div>
                            </td>

                            <td colspan="3" ng-if="notification.type=='requestDen'" ng-show="displaying == notification._id" >
                                <div class="container">
                                    <h4>
                                        <div>
                                            <p>
                                                Your access to the post "<a href="/post?id={{notification.post._id}}" ng-bind="notification.post.header.subject"></a>" has been revoked by its admin <i>{{notification.creator.displayname}}</i>.
                                            </p>
                                        </div>
                                    </h4>
                                    <div>
                                        <button class="btn btn-danger" ng-click="delete(notification._id)">Delete notification</button>
                                    </div>
                                    </h4>
                                </div>
                            </td>
                            
                            <td colspan="3" ng-if="notification.type=='requestAcc'" ng-show="displaying == notification._id" >
                                <div class="container">
                                    <h4>
                                        <div>
                                            <p>
                                                User <i>{{notification.creator.displayname}}</i> have granted you an access to the post "<a href="/post?id={{notification.post._id}}" ng-bind="notification.post.header.subject"></a>".
                                            </p>
                                        </div>
                                    </h4>
                                    <div>
                                        <button class="btn btn-danger" ng-click="delete(notification._id)">Delete notification</button>
                                    </div>
                                    </h4>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-md-2"></div>
        </div>
        <% include ./index_partials/footer %>
            <script src="/lib/ng-notifications.js"></script>
</body>

</html>
