<!DOCTYPE html>
<html ng-app="post">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.min.css">
    <script src="/lib/crypto-js/aes.js"></script>
    <script src="/lib/crypto-js/pbkdf2.js"></script>
    <script src="/lib/crypto-js/crypto-js.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/angular-growl-v2/build/angular-growl.min.css">
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-growl-v2/build/angular-growl.js"></script>
</head>

<body ng-controller="mainController">
    <% include ./index_partials/navbar %>
        <div></div>
        <div></div>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div>
                            <h1>{{post.header.subject}}</h1>
                        </div>
                        <div class="row">
                            <div class="col-md-9"><small>Created {{post.createdAtWords}}</small></div>
                            <div class="col-md-3 col-md-offset-0" style="float:right;">
                                <div class="btn-group" role="group"><button ng-click="uvp('<%= user._id%>')" class="btn btn-success btn-xs" type="button">vote up</button><button ng-click="dvp('<%= user._id%>')" class="btn btn-danger btn-xs" type="button">vote down</button></div>
                                <div><small>Score: {{post.header.votes.num}}</small></div>
                            </div>
                        </div>
                        <div>
                            <blockquote>
                                <p class="mb-0">{{post.body.text}}</p>
                                <footer>{{post.settings.author.displayname}}</footer>
                            </blockquote>
                        </div>
                        <div>
                            <form><textarea class="form-control"></textarea><button class="btn btn-default" type="button">Reply </button></form>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div><small>6 minutes ago</small></div>
                                <blockquote>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer>Someone famous</footer>
                                </blockquote>
                                <div>
                                    <div class="btn-group" role="group"><button class="btn btn-success btn-xs" type="button">vote up</button><button class="btn btn-danger btn-xs" type="button">vote down</button></div><small>Score: 32</small></div><a href="#">Reply to comment</a>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-11">
                                        <div><small>6 minutes ago</small></div>
                                        <blockquote>
                                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                            <footer>Someone famous</footer>
                                        </blockquote>
                                        <div>
                                            <div class="btn-group" role="group"><button class="btn btn-success btn-xs" type="button">vote up</button><button class="btn btn-danger btn-xs" type="button">vote down</button></div><small>Score: 32</small></div><a href="#">Reply to comment</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="testimonials"></section>
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>Safe Boards © 2017</h5>
                    </div>
                    <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/lib/ng-singlePost.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
