<!DOCTYPE html>
<html ng-app="post">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeBoards</title>
    <% include ./index_partials/head %>
        <script src="/lib/crypto-js/crypto-js.js"></script>
</head>

<body ng-controller="mainController as mainCtrl">
    <% include ./index_partials/navbar %>
        <div growl limit-messages="1"></div>

        <!-- ============================================-->
        <!-- ================LOADER======================-->
        <!-- ============================================-->

        <div class="centered" id="loader">
            <div class="loader"></div>
            <h4 class="centered">Loading...</h4>
        </div>

        <!-- ================================================-->
        <!-- ==================ENCRYPTION====================-->
        <!-- ================================================-->

        <div id="pass" class="centered" style="display:none">
            <form>
                <label>All messages in this post are encrypted. <br/>Please provide encryption phrase below:</label>
                <input class="form-control" id="phrase" placeholder="Encryption phrase..." class="form-control" ng-keyup="$event.keyCode == 13 && decr()" ng-model="phrase" />
                <button class="btn btn-default" type="button" ng-href='#here' ng-click="decr()">OK </button>
            </form>
        </div>

        <!-- ================================================-->
        <!-- ====================ACCESS======================-->
        <!-- ================================================-->

        <div id="access" class="centered" style="display:none">
            <h3>You are not allowed to access this post</h3>
            <form>
                <textarea class="form-control" ng-model="request_t"></textarea>
                <button class="btn btn-success" type="button" ng-href='#here' ng-click="areq()">Request </button>
            </form>
        </div>

        <div id="access_wait" class="centered" style="display:none">
            <h3>This post is available for allowed users only.</h3>
            <h3>You have already requested access to this post.</h3>
            <h3>Your request is awaiting for administator review.</h3>
        </div>

        <div id="access_noUser" class="centered" style="display:none">
            <h3>This post is available for allowed users only.</h3>
            <h3>Please, login to confirm your identity.</h3>
        </div>

        <!-- ================================================-->
        <!-- =====================MAIN=======================-->
        <!-- ================================================-->

        <div class="container-fluid" id="main" style="display:none">
            <div class="row">
                <md-content>
                    <div class="col-md-1" id="left"></div>
                    <div class="col-md-2" style="padding:36px;">
                        <form ng-if="post.settings.isAdmin && post.settings.privacy!='pub'" ng-submit="$event.preventDefault()" name="searchForm">
                            <md-autocomplete flex md-input-name="inviteUser" md-no-cache="mainCtrl.noCache" md-selected-item="mainCtrl.selectedItem" md-search-text="mainCtrl.searchText" md-items="item in mainCtrl.querySearch(mainCtrl.searchText)" md-item-text="item.display" md-require-match
                                md-floating-label="Invite new user">
                                <md-item-template>
                                    <span md-highlight-text="mainCtrl.searchText">{{item.display}}</span>
                                </md-item-template>
                                <div ng-messages="searchForm.inviteUser.$error" ng-if="searchForm.inviteUser.$touched">
                                    <div ng-message="md-require-match">Please select an existing state.</div>
                                </div>
                                <md-button class="md-primary md-raised edgePadding" ng-click="sendInvitation()">Send an invitation</md-button>
                            </md-autocomplete>

                        </form>

                        <md-list class="md-dense" ng-if="post.settings.isAdmin && post.settings.privacy!='pub'">
                            <md-subheader class="md-no-sticky">Users who can access this post:</md-subheader>
                            <md-divider></md-divider>
                            <md-list-item class="secondary-button-padding" ng-repeat="user in post.settings.access.allowed">
                                <div class="md-list-item-text" layout="column">
                                    <p>{{user.displayname}}</p>
                                    <md-divider ng-if="!$last"></md-divider>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div class="col-md-7">
                        <div class="row well well-sm">
                            <div class="col-md-10">
                                <h1 style="margin-top: 0px;">{{post.header.subject}}</h1>
                            </div>
                            <div class="col-md-2" ng-if="post.settings.author._id==user" style="text-align: right">
                                <md-icon md-svg-src="img/icons/settings.svg" style="width:30px;height:30px;" ng-click="pedit_show()"></md-icon>
                                <md-icon md-svg-src="img/icons/edit.svg" style="width:30px;height:30px;" ng-click="pedit_show()"></md-icon>
                                <md-icon ng-if="post.replies.length==0" ng-click="pdel()" md-svg-src="img/icons/dustbin.svg" style="color: #f00;width:30px;height:30px;"></md-icon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <small>Created {{post.createdAtWords}}</small>
                            </div>
                            <div class="col-md-3 col-md-offset-0" style="text-align: right">
                                <div class="btn-group" role="group" ng-if="user">
                                    <md-icon ng-click="uvp()" md-svg-src="img/icons/like.svg" style="color: #027a02;width:20px;height:20px;"></md-icon>
                                    <md-icon ng-click="dvp()" md-svg-src="img/icons/dislike.svg" style="color: #f00;width:20px;height:20px;"></md-icon>
                                </div>
                                <div>
                                    Score: <span id="score">{{post.header.votes.num}}</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <blockquote>
                                <p class="mb-0 angular-with-newlines" id="posttext">{{post.body.text}}</p>
                                <md-divider ng-if="post.body.updates.length>0"></md-divider>
                                <div ng-repeat="e in post.body.updates">
                                    <h5 class="angular-with-newlines">Update #{{$index+1}}: {{e}}</h5>
                                </div>


                                <form id="postedit" hidden="" ng-if="post.settings.author._id==user">
                                    <textarea id="update" class="form-control" ng-model="post.body.text"></textarea>
                                    <md-button class="md-primary md-raised edgePadding md-ink-ripple" ng-click="pedit()">Save</md-button>
                                    <md-button class="md-raised edgePadding md-ink-ripple" ng-click="pedit_close()">Cancel</md-button>
                                </form>
                                <form id="postedit2" hidden="" ng-if="post.settings.author._id==user">
                                    <label>UPDATE #{{post.body.updates.length+1}}:</label>
                                    <textarea id="edit" class="form-control" ng-model="$parent.editt">UPDATE : #{{post.body.updates.length}}</textarea>
                                    <md-button class="md-primary md-raised edgePadding md-ink-ripple" ng-click="pupd()">Save</md-button>
                                    <md-button class="md-raised edgePadding md-ink-ripple" ng-click="pedit2_close()">Cancel</md-button>
                                </form>
                                <footer>by {{post.settings.author.displayname}}</footer>
                            </blockquote>
                        </div>
                        <div ng-if="user">
                            <form>
                                <md-input-container class="md-block">
                                    <label>Reply</label>
                                    <textarea ng-model="$parent.prep" md-maxlength="150" rows="1" md-select-on-focus=""></textarea>
                                    <md-button ng-click="spr()" class="md-primary md-raised edgePadding md-ink-ripple">Send</md-button>
                                </md-input-container>

                            </form>
                        </div>

                        <!-- ===================================================-->
                        <!-- ===================REPLIES=========================-->
                        <!-- ===================================================-->

                        <div ng-repeat="rep in post.replies | orderBy:'-'" class="row">
                            </br>

                            <!--HIDDEN DUE LOW QUALITY-->

                            <div class="col-md-12" ng-if="!rep.isDeleted" ng-show="rep.votes.num<0" id="e_{{rep._id}}">
                                <blockquote>
                                    <h5>Comment hidden due to poor quality</h5>
                                    <button type="button" class="btn btn-link" ng-click="show(rep._id)">Show...</button>
                                </blockquote>
                            </div>


                            <!--POST-->
                            <!--NAVIGATION-->

                            <div class="col-md-12" ng-show="rep.votes.num>=0 || rep.isDeleted" id="t_{{rep._id}}">
                                <div class="row well well-sm">
                                    <div class="col-md-9">
                                        <span>{{rep.createdAtWords}}</span>
                                        <span ng-if="rep.author._id==user && !rep.isDeleted">
                                            <md-icon md-svg-src="img/icons/edit.svg" style="width:20px;height:20px;" ng-click="redit_show(rep._id)"></md-icon>
                                            <md-icon ng-click="rdel(rep._id)" md-svg-src="img/icons/dustbin.svg" style="color: #f00;width:20px;height:20px;"></md-icon>
                                        </span>
                                    </div>
                                    <div class="col-md-3" ng-if="!rep.isDeleted">
                                        <span class="btn-group pull-right" role="group">
                                            <md-icon ng-click="uvr(rep._id)" md-svg-src="img/icons/like.svg" style="color: #027a02;width:20px;height:20px;"></md-icon>
                                            <span class="badge" id="score{{rep._id}}">{{rep.votes.num}}</span>
                                        <md-icon ng-click="dvr(rep._id)" md-svg-src="img/icons/dislike.svg" style="color: #f00;width:20px;height:20px;"></md-icon>
                                        </span>
                                    </div>
                                </div>

                                <!--TEXT-->

                                <blockquote>

                                    <!--DELETED-->

                                    <div ng-if="rep.isDeleted">
                                        This post has been removed
                                        <footer>by {{rep.author.displayname}}</footer>
                                        <div class="relistlink_{{rep._id}}">
                                            <button type="button" class="btn btn-link" ng-click="show_rellist(rep._id)" ng-if="rep.rreplies.length>1"><i class="fas fa-angle-double-down"></i> Show all {{rep.rreplies.length}} replies</button>
                                        </div>
                                        <div class="relistlink_{{rep._id}}">
                                            <button type="button" class="btn btn-link" ng-click="show_rellist(rep._id)" ng-if="rep.rreplies.length==1"><i class="fas fa-angle-double-down"></i> Show reply</button>
                                        </div>
                                        <div class="relist_{{rep._id}}" hidden="true">
                                            <button type="button" class="btn btn-link" ng-click="hide_rellist(rep._id)"><i class="fas fa-angle-double-up"> </i> Hide replies</button>
                                        </div>
                                    </div>

                                    <!--NOT DELETED-->
                                    <!--TEXT-->

                                    <div ng-if="!rep.isDeleted">
                                        <p id="reptext_{{rep._id}}" class="mb-0 angular-with-newlines">{{rep.text}}</p>

                                        <!--EDIT-->

                                        <form id="repedit_{{rep._id}}" hidden="">
                                            <textarea id="trepedit_{{rep._id}}" class="form-control" ng-model="rep.text"></textarea>
                                            <md-button class="md-primary md-raised edgePadding md-ink-ripple" ng-click="rupd(rep._id)">Save</md-button>
                                            <md-button class="md-raised edgePadding md-ink-ripple" ng-click="reload()">Cancel</md-button>
                                        </form>

                                        <!--AUTHOR-->

                                        <footer>by {{rep.author.displayname}}</footer>
                                        <div id="relink_{{rep._id}}">
                                            <button type="button" class="btn btn-link" ng-click="show_r(rep._id)">Reply to this comment...</button>
                                        </div>

                                        <!--REPLY-->

                                        <div id="re_{{rep._id}}" hidden="">
                                            <form>
                                                <md-input-container class="md-block">
                                                    <label>Reply</label>
                                                    <textarea id="rrep_{{rep._id}}" rows="1" md-select-on-focus=""></textarea>
                                                    <md-button class="md-primary md-raised edgePadding md-ink-ripple" ng-click="srr(rep._id)">Save</md-button>
                                                    <md-button class="md-raised edgePadding md-ink-ripple" ng-click="hide_r(rep._id)">Cancel</md-button>
                                                </md-input-container>
                                            </form>
                                        </div>

                                        <!--BUTTONS-->

                                        <div class="relistlink_{{rep._id}}">
                                            <button type="button" class="btn btn-link" ng-click="show_rellist(rep._id)" ng-if="rep.rreplies.length>1"><i class="fas fa-angle-double-down"></i> Show all {{rep.rreplies.length}} replies</button>
                                        </div>
                                        <div class="relistlink_{{rep._id}}">
                                            <button type="button" class="btn btn-link" ng-click="show_rellist(rep._id)" ng-if="rep.rreplies.length==1"><i class="fas fa-angle-double-down"></i> Show reply</button>
                                        </div>
                                        <div class="relist_{{rep._id}}" hidden="true">
                                            <button type="button" class="btn btn-link" ng-click="hide_rellist(rep._id)"><i class="fas fa-angle-double-up"> </i> Hide replies</button>
                                        </div>
                                    </div>


                                    <!-- =======================================================-->
                                    <!-- =====================R-REPLIES=========================-->
                                    <!-- =======================================================-->

                                    <div class="relist_{{rep._id}}" hidden="">
                                        <div ng-repeat="rep2 in rep.rreplies | orderBy:'-'" class="row">
                                            <div>
                                                </br>
                                                <div ng-show="rep2.votes.num<0" id="e_{{rep2._id}}">
                                                    <blockquote>
                                                        <h5>Comment hidden due to poor quality</h5>
                                                        <button type="button" class="btn btn-link" ng-click="show(rep2._id)">Show...</button>
                                                    </blockquote>
                                                </div>
                                                <div class="col-md-12" ng-show="rep2.votes.num>=0" id="t_{{rep2._id}}">
                                                    <div>
                                                        <span><small>{{rep2.createdAtWords}}</small></span>
                                                        <span ng-if="rep2.author._id==user">
                                                            <md-icon md-svg-src="img/icons/edit.svg" style="width:20px;height:20px;" ng-click="redit_show(rep2._id)"></md-icon>
                                                            <md-icon ng-click="rrdel(rep2._id,rep._id)" md-svg-src="img/icons/dustbin.svg" style="color: #f00;width:20px;height:20px;"></md-icon>
                                                        </span>
                                                        <span class="btn-group pull-right" role="group">
                                                            <md-icon ng-click="uvr(rep2._id)" md-svg-src="img/icons/like.svg" style="color: #027a02;width:20px;height:20px;"></md-icon>
                                                            <span class="badge" id="score{{rep2._id}}">{{rep2.votes.num}}</span>
                                                            <md-icon ng-click="dvr(rep2._id)" md-svg-src="img/icons/dislike.svg" style="color: #f00;width:20px;height:20px;"></md-icon>
                                                        </span>
                                                    </div>
                                                    <blockquote>
                                                        <p id="reptext_{{rep2._id}}" class="mb-0 angular-with-newlines">{{rep2.text}}</p>
                                                        <form id="repedit_{{rep2._id}}" hidden="">
                                                            <textarea id="trepedit_{{rep2._id}}" class="form-control" ng-model="rep2.text"></textarea>
                                                            <md-button class="md-primary md-raised edgePadding md-ink-ripple" ng-click="rupd(rep2._id)">Save</md-button>
                                                            <md-button class="md-raised edgePadding md-ink-ripple" ng-click="reload()">Cancel</md-button>
                                                        </form>
                                                        <footer>by {{rep2.author.displayname}}</footer>
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" id="right"></div>
                </md-content>
            </div>

            <% include ./index_partials/footer %>
        </div>
        <script src="/lib/ng-singlePost.js"></script>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
</body>

</html>
