<!DOCTYPE html>
<html ng-app="post">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{post.header.subject}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.min.css">
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/crypto-js/aes.js"></script>
    <script src="/lib/crypto-js/pbkdf2.js"></script>
    <script src="/lib/crypto-js/crypto-js.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/angular-growl-v2/build/angular-growl.min.css">
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/angular-growl-v2/build/angular-growl.js"></script>
</head>

<body ng-controller="mainController as mainCtrl">
    <% include ./index_partials/navbar %>
        <div></div>
        <div growl limit-messages="1"></div>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div>
                            <h1>{{post.header.subject}}</h1>
                        </div>
                        <div class="row">
                            <div class="col-md-9"><small>Created {{post.createdAtWords}}</small></div>
                            <div class="col-md-3 col-md-offset-0" style="float:right;">
                                <div class="btn-group" role="group"><button ng-click="uvp()" class="btn btn-success btn-xs" type="button">vote up</button>
                                    <button ng-click="dvp()" class="btn btn-danger btn-xs" type="button">vote down</button>
                                </div>
                                <div>
                                    <small>Score: <span id="score">{{post.header.votes.num}}</span></small>
                                </div>
                            </div>
                        </div>
                        <div>
                            <blockquote>
                                <p class="mb-0 angular-with-newlines">{{post.body.text}}</p>
                                <footer>{{post.settings.author.displayname}}</footer>
                            </blockquote>
                        </div>
                        <div>
                            <form>
                                <textarea id="res" class="form-control" ng-model="prep"></textarea>
                                <button class="btn btn-default" type="button" ng-href='#here' ng-click="spr()">Reply </button>
                            </form>
                        </div>
                        <div ng-repeat="rep in post.replies | orderBy:'-'" class="row">
                            </br>
                            <div ng-show="rep.votes.num<0" id="e_{{rep._id}}">
                                <footer>Comment hidden due to poor quality</footer>
                                <a ng-click="show(rep._id)">Show...</a>
                            </div>
                            <div class="col-md-12" ng-show="rep.votes.num>=0" id="t_{{rep._id}}">
                                <div><small>{{rep.createdAtWords}}</small></div>
                                <blockquote>
                                    <p class="mb-0 angular-with-newlines">{{rep.text}}</p>
                                    <footer>{{rep.author.displayname}}</footer>
                                </blockquote>
                                <div>
                                    <div>
                                        <small>Score: <span id="score{{rep._id}}">{{rep.votes.num}}</span></small>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button ng-click="uvr(rep._id)" class="btn btn-success btn-xs" type="button">vote up</button>
                                        <button ng-click="dvr(rep._id)" class="btn btn-danger btn-xs" type="button">vote down</button>
                                    </div>

                                </div>
                                <a ng-click="show_r(rep._id)">Reply to comment...</a>
                                <div id="re_{{rep._id}}" hidden="">
                                    <form>
                                        <textarea class="form-control" id="rrep_{{rep._id}}"></textarea>
                                        <button class="btn btn-default" type="button" ng-href='#here' ng-click="srr(rep._id)">Reply </button>
                                    </form>
                                </div>
                                <div ng-repeat="rep2 in rep.replies | orderBy:'-'" class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-11">
                                        <div>
                                            </br>
                                            <div ng-show="rep2.votes.num<0" id="e_{{rep2._id}}">
                                                <footer>Comment hidden due to poor quality</footer>
                                                <a ng-click="show(rep2._id)">Show...</a>
                                            </div>
                                            <div class="col-md-12" ng-show="rep2.votes.num>=0" id="t_{{rep2._id}}">
                                                <div><small>{{rep2.createdAtWords}}</small></div>
                                                <blockquote>
                                                    <p class="mb-0 angular-with-newlines">{{rep2.text}}</p>
                                                    <footer>{{rep2.author.displayname}}</footer>
                                                </blockquote>
                                                <div>
                                                    <div>
                                                        <small>Score: <span id="score{{rep2._id}}">{{rep2.votes.num}}</span></small>
                                                    </div>
                                                    <div class="btn-group" role="group">
                                                        <button ng-click="uvr(rep2._id)" class="btn btn-success btn-xs" type="button">vote up</button>
                                                        <button ng-click="dvr(rep2._id)" class="btn btn-danger btn-xs" type="button">vote down</button>
                                                    </div>
                                                </div>
                                                <a ng-click="show_r(rep2._id)">Reply to comment...</a>
                                                <div id="re_{{rep2._id}}" hidden="">
                                                    <form>
                                                        <textarea class="form-control" id="rrep_{{rep2._id}}"></textarea>
                                                        <button class="btn btn-default" type="button" ng-href='#here' ng-click="srr(rep2._id)">Reply </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="testimonials"></section>
            <footer class="site-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>Safe Boards © 2017</h5>
                        </div>
                        <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </footer>
            <script src="/lib/ng-singlePost.js"></script>
            <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
</body>

</html>
